:root {
  /* Colors */
  --indigo: #695aa6;
  --purple: #6f42c1;
  --orange: #ff6d02;
  --gray: #6c757d;
  --gray-dark: #393e46;
  --primary: #695aa6;
  --danger: #ec185d;
  --light: #f8f9fa;
  --dark: #212529;
  --bg:#C4D9FF;
  --brown:#333;
  --glaucous: hsl(230, 52%, 63%);
  --manatee: hsl(254, 7%, 65%);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  --bg-white:rgba(255, 255, 255, 1);
  --bg-hover:#BDDDE4;


  /* Misc */
  --container-shadow: 0.5rem 0.5rem 2rem 0 rgba(0, 0, 0, 0.2);
  --gutter: 30px;
  --border-width: 4px;
  --dot-diameter: 8px;
  --size: 50px;
  --gap: 10px;

  /* Typography */
  --ff-open-sans: 'Open Sans', sans-serif;
  --ff-barlow: 'Barlow', sans-serif;
  --ff-poppins: 'Poppins', sans-serif;
  --fs-1: 3.5rem;
  --fs-2: 3rem;
  --fs-3: 2.4rem;
  --fs-4: 2rem;
  --fs-5: 1.8rem;
  --fs-6: 1.3rem;
  --fw-600: 600;
  --fw-700: 700;

  /* Border radius */
  --radius-5: 5px;
  --radius-10: 10px;
  --radius-15: 15px;
  --radius-20: 20px;

  /* Spacing */
  --section-padding: 60px;

  /* Shadow */
  --shadow: 0 -5px 10px var(--manatee);

  /* Transitions */
  --transition-1: 0.05s ease;
  --transition-2: 0.25s ease;
  --cubic-out: cubic-bezier(0.33, 0.85, 0.56, 1.02);

  --hero-image:url("../images/image.png");
}


body.dark-theme {
  --indigo: #393E46;
  --purple: #948979;
  --orange: #ffa64d;
  --gray: #b0b3b8;
  --gray-dark: #ffffff;
  --primary: #DFD0B8;
  --danger: #ff5b8a;
  --light: #2c2f36;
  --dark: #f8f9fa;
  --bg: black;
  --brown: #948979;
  --glaucous: hsl(230, 30%, 72%);
  --manatee: #393E46;
  --black: hsl(0, 0%, 100%);
  --white: #222831;
  --bg-white:#000000de;
  --bg-hover:hsl(254, 7%, 45%);


  --hero-image:url("../images/bg-hero-dark.jpg");

}


/* toggle switch */
.switch {
	margin: auto;
	position: relative;
}
.switch__icon,
.switch__input {
	display: block;
}
.switch__icon {
	position: absolute;
	top: 0.375em;
	right: 0.375em;
	width: 0.75em;
	height: 0.75em;
	transition:
		opacity calc(var(--trans-dur) / 2),
		transform calc(var(--trans-dur) / 2);
}
.switch__icon polyline {
	transition: stroke-dashoffset calc(var(--trans-dur) / 2);
}
.switch__icon--light,
.switch__icon--light polyline {
	transition-delay: calc(var(--trans-dur) / 2);
	transition-timing-function: var(--trans-timing-out);
}
.switch__icon--dark {
	opacity: 0;
	transform: translateX(-0.75em) rotate(30deg) scale(0.75);
	transition-timing-function: var(--trans-timing-in);
}
.switch__input {
	background-color: hsl(210,90%,70%);
	border-radius: 0.75em;
	box-shadow:
		0 0 0 0.125em hsla(var(--hue),90%,50%,0),
		0.125em 0.125em 0.25em hsla(var(--hue),90%,10%,0.2);
	outline: transparent;
	position: relative;
	width: 3em;
	height: 1.5em;
	-webkit-appearance: none;
	appearance: none;
	-webkit-tap-highlight-color: transparent;
	transition:
		background-color var(--trans-dur) var(--trans-timing),
		box-shadow 0.15s linear;
}
.switch__input:focus-visible {
	box-shadow:
		0 0 0 0.125em hsl(var(--hue),90%,50%),
		0.125em 0.125em 0.25em hsla(var(--hue),90%,10%,0.2);
}
.switch__input:before,
.switch__input:after {
	content: "";
	display: block;
	position: absolute;
}
.switch__input:before {
	background-color:var(--purple);
	border-radius: inherit;
	mask-image: linear-gradient(120deg,hsl(0,0%,0%) 20%,hsla(0,0%,0%,0) 80%);
	-webkit-mask-image: linear-gradient(120deg,hsl(0,0%,0%) 20%,hsla(0,0%,0%,0) 80%);
	inset: 0;
	transition: background-color var(--trans-dur) var(--trans-timing);
}
.switch__input:after {
	background-color: hsl(0,0%,100%);
	border-radius: 50%;
	box-shadow: 0.05em 0.05em 0.05em hsla(var(--hue),90%,10%,0.1);
	top: 0.125em;
	left: 0.125em;
	width: 1.25em;
	height: 1.25em;
	transition:
		background-color var(--trans-dur) var(--trans-timing),
		transform var(--trans-dur) var(--trans-timing);
	z-index: 1;
}
.switch__input:checked {
	background-color: var(--bg-hover);
}
.switch__input:checked:before {
	background-color: var(--bg);
}
.switch__input:checked:after {
	background-color: hsl(0,0%,0%);
	transform: translateX(1.5em);
}
.switch__input:checked ~ .switch__icon--light,
.switch__input:checked ~ .switch__icon--light polyline {
	transition-delay: 0s;
	transition-timing-function: var(--trans-timing-in);
}
.switch__input:checked ~ .switch__icon--light {
	opacity: 0;
	transform: translateX(-0.75em) rotate(-30deg) scale(0.75);
}
.switch__input:checked ~ .switch__icon--light polyline {
	stroke-dashoffset: 1.5;
}
.switch__input:checked ~ .switch__icon--dark {
	opacity: 1;
	transform: translateX(-1.5em);
	transition-delay: calc(var(--trans-dur) / 2);
	transition-timing-function: var(--trans-timing-out);
}
.switch__sr {
	overflow: hidden;
	position: absolute;
	width: 1px;
	height: 1px;
}






/* Reset */
*, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; }
li { list-style: none; }
a { text-decoration: none; color: inherit; }
a, img, span, input, strong, button, textarea, ion-icon { display: block; }
img { height: auto; }
ion-icon { pointer-events: none; color: var(--white); }
button, input, textarea { background: none; border: none; font: inherit; }
button { cursor: pointer; }
input, textarea { width: 100%; }
address { font-style: normal; }
html {
  font-size: 10px;
  font-family: var(--ff-open-sans);
  scroll-behavior: smooth;
}
body {
  font-size: 1.6rem;
  line-height: 1.6;
  color: var(--black);
  overflow-x: hidden;
  background: linear-gradient(to right, var(--bg) 0%, var(--bg) 5%, var(--bg-white) 25%, var(--bg-white) 75%, var(--bg) 95%, var(--bg) 100%);
}
:focus-visible { outline-offset: 4px; }
::-webkit-scrollbar { width: 15px; }
::-webkit-scrollbar-track { background-color: hsl(0, 0%, 95%); }
::-webkit-scrollbar-thumb { background-color: hsl(0, 0%, 80%); }
::-webkit-scrollbar-thumb:hover { background-color: hsl(0, 0%, 70%); }

/* Reused style */
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.btn {
  color: var(--white);
  font-family: var(--ff-barlow);
  font-size: var(--fs-5);
  font-weight: var(--fw-600);
  max-width: max-content;
  padding: var(--padding, 10px 40px);
  border-radius: 50px;
  transition: var(--transition-2);
}
.btn-primary.blue { background-color: var(--primary); }
.btn-primary.blue:is(:hover, :focus) { background-color: var(--purple); }

.img-cover { width: 100%; height: 100%; object-fit: cover; }

.section { padding-block: var(--section-padding); }

.section-subtitle, .section-title, .section-text { text-align: center; }
.section-subtitle {
  color: var(--gray-dark);
  font-family: var(--ff-barlow);
  font-size: var(--fs-4);
}

.h2, .h3 {
  color: var(--gray-dark);
  font-family: var(--ff-barlow);
  font-weight: var(--fw-600);
  line-height: 1.3;
}
.h2 { font-size: var(--fs-2); }
.h3 { font-size: var(--fs-3); }

/* Header */
.header {
  position: fixed;
  width: 100%;
  padding-block: 15px;
  background-color: var(--white);
  height: 65px;
  box-shadow: var(--shadow);
  overflow: hidden;
  transition: 0.25s var(--cubic-out);
  z-index: 10;
}
.header.nav-active { height: 335px; transition-duration: .35s; }
.header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  color: var(--dark);
  font-family: var(--ff-poppins);
  font-size: 2.4rem;
}
.nav-toggle-btn { font-size: 3rem; }
.nav-toggle-btn .close-icon,
.nav-toggle-btn.active .menu-icon { display: none; }
.nav-toggle-btn.active .close-icon,
.nav-toggle-btn .menu-icon { display: block; }
.navbar {
  position: absolute;
  top: 65px;
  left: 0;
  width: 100%;
  padding-inline: 20px;
  visibility: hidden;
  opacity: 0;
  transition: var(--transition-2);
}
.header.nav-active .navbar {
  visibility: visible;
  opacity: 1;
}
.navbar-link {
  color: var(--dark);
  font-family: var(--ff-barlow);
  padding-block: 3px;
  font-size: larger;
  transition: var(--transition-1);
}
.navbar-link:is(:hover, :focus) { color: var(--purple); }
.navbar .btn { background-color: var(--purple); margin-block-start: 15px; }

/* Hero */
.hero {
  position: relative;
  background-image: var(--hero-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 25%;
  padding-block: 100px var(--section-padding);
  min-height: 100vh;
  display: flex;
  place-items: center;
  z-index: 0;
}
.hero::after {
  content: "";
  position: absolute;
  bottom: 0; left: 0; width: 100%; height: 100px;
  /* background: linear-gradient(to bottom, transparent, var(--bg-white)); */
  background: linear-gradient(to top, var(--bg-white), transparent 60%);

  z-index: 1;
  pointer-events: none;
}
.hero-banner {
  width: 150px;
  height: 172px;
  background-color: var(--independence);
  border-radius: var(--radius-10);
  margin-inline: auto;
  margin-block-end: 30px;
}
.hero-banner img { border-radius: inherit; }
.hero-content {
  text-align: center;
  color: var(--gray);
  z-index: 2;
  position: absolute;
  top: 60%; left: 50%;
  transform: translate(-50%, -50%);
}
.hero-title { font-family: var(--ff-barlow); font-size: var(--fs-5); font-weight: var(--fw-600); line-height: 1.3; }
.hero-title strong { font-size: var(--fs-1); font-weight: inherit; }
.hero-text { margin-block-end: 25px; }
.btn-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.myname { color:var(--dark); }
.elem, .rotate-img { display: none; }

/* About */
.about {
  background:
    linear-gradient(to bottom, var(--bg-white), transparent 30%);
    /* linear-gradient(to top, transparent, var(--bg-white)), */
    /* radial-gradient(ellipse at top left, var(--bg) 0%, transparent 80%) top left,
    radial-gradient(ellipse at top right, var(--bg) 0%, transparent 80%) top right; */
}
.about-banner {
  background-color: var(--independence);
  border-radius: var(--radius-10);
  margin-block-end: 40px;
  margin-right: 45px;
  width: fit-content;
  height: 380px;
}
.about-banner > .img-cover { border-radius: inherit; }
.about :is(.section-title, .section-subtitle, .section-text) { text-align: left; }
.about :is(.section-title, .section-text) { margin-block-end: 30px; }

/* Education */
.education {
  padding-block-start: 120px;
}
.edu-timeline { margin: 0 auto; width: 80%; }
.education__content {
  position: relative;
  padding: 1rem 1rem 1rem 4rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.education__content h5, .education__content p { margin-left: 50px; }
.education__content h5 { color: var(--black); font-size: x-large; }
.education__content p, .grade { color: var(--black); }
.education__content p { font-size: x-larger; margin-block-start: 0.5rem; }
.education__content .year {
  position: absolute; width: 6rem; aspect-ratio: 1;
  display: flex; justify-content: center; align-items: center;
  font-size: 1.8rem; color: var(--white); border-radius: 50%;
  background-color: var(--brown); box-shadow: inset 0 0 0 1px var(--white);
  border: 2px solid var(--brown); left: 1rem; top: 0.74rem;
}
.education__content:hover { background-color: var(--bg-hover); border-radius: 0.25rem; }
.education__content:not(:last-child):before {
  position: absolute; content: "";
  width: 6px; background-color: #333; left: 36px;
  top: 60px; bottom: -0.74rem; z-index: 0;
}
.grade { font-size: medium; margin-right: 10px; float: right; }

/* Projects */
.project {
  padding-block-start: 100px;
  margin-top: -20px;
}
.projects-container {
  padding: 0 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}
.pr-card {
  position: relative;
  height: 280px;
  max-width: 350px;
  flex: 1;
  min-width: 300px;
  background: var(--white);
  transition: 0.4s;
  box-shadow: 10px 10px 25px var(--gray);
  border-radius: 8px;
  overflow:hidden;
  margin-bottom: 20px;
}
.pr-card:hover { height: 95%; box-shadow: 5px 5px 10px rgba(0,0,0,0.2); }
.pr-card .img { height: 180px; width: 100%; }
.pr-card .img img { height: 100%; width: 100%; object-fit: cover; }
.pr-card .top-text {
  padding: 10px; text-align: center; 
}
.pr-card .top-text .name {
  font-size: 22px; font-weight: 600; color: var(--dark); margin-top: 5px; line-height: 1.2;
}
.pr-card .bottom-text {
  padding: 0 20px 10px 20px; margin-top: 5px; background: var(--white);
  opacity: 0; visibility: hidden; transition: 0.3s;
}
.pr-card:hover .bottom-text { opacity: 1; visibility: visible; }
.pr-card .bottom-text .text {
  text-align: justify; color: var(--gray-dark); font-size: 14px; line-height: 1.4; margin-bottom: 15px;
}

@media screen and (max-width: 1024px) {
  .projects-container { justify-content: center; }
  .pr-card { max-width: 400px; }
}
@media screen and (max-width: 768px) {
  .projects-container { flex-direction: column; align-items: center; }
  .pr-card { max-width: 500px; width: 100%; margin: 10px 0; }
}
@media screen and (max-width: 480px) {
  .projects-container { padding: 0 20px; }
  .pr-card { min-width: 280px; }
  .pr-card .top-text .name { font-size: 20px; }
  .pr-card .top-text p { font-size: 14px; }
}
.github-corner {
  position: absolute; top: 12px; right: 12px; width: 32px; height: 32px; z-index: 9;
  background-color: var(--gray);
  border-radius: 50px;
}
.github-corner img {
  width: 100%; height: 100%;
  object-fit: contain;
  filter: grayscale(100%) opacity(0.7);
  transition: filter .2s, transform .2s;
}
.github-corner:hover img { filter: none; transform: scale(1.1) rotate(-10deg); }
.projects-container::-webkit-scrollbar { height: 8px; }
.projects-container::-webkit-scrollbar-thumb {
  background-color: var(--gray); border-radius: 5px;
}

/* Skills */
.skills {
  padding-block-start: 120px;
}
.skills .section-title { margin-block-end: 20px; }
.skills .section-text { margin-block-end: 70px; }
.skills-container {
  padding: 20px 10px; color: var(--black); text-align: left;
  display: flex; flex-direction: column; justify-content: center; align-items: center;
}
.skills-subsection {
  background-color: var(--white);
  padding: 10px 10px;
  border-radius: 10px;
  width: 90%; margin: 5px 0;
  border: 2px solid var(--gray);
}
.skills-subsection h3 {
  font-size: medium;
  font-family: 'Roboto', sans-serif;
  color: var(--black);
  margin-bottom: 10px;
  font-weight: 600;
}
.skills-subsection hr {
  border: none;
  border-top: 2px solid var(--gray-dark);
  width: 100%;
  margin: 10px auto;
}
.skill-list {
  background-color: var(--white);
  display: flex; justify-content: left; align-items: center; gap: 20px;
  flex-wrap: wrap; padding: 0 10px; height: 125px;
}
.skill-card {
  background-color: var(--white);
  padding: 5px 10px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  width:fit-content;
  text-align: center;
  transition: transform .3s ease, box-shadow .3s ease;
}
.skill-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}
.skill-card img {
  width: 80px; height: 80px; transition: transform .3s ease;
}
.skill-card img:hover { transform: scale(1.1); }

/* Certificates */
.certificates {
  padding-block: 120px;
  margin-top: -20px;
}
.certificates-container {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 2.5rem;
  justify-content: center;
  align-items: stretch;
  margin-top: 1.5rem;
  margin-bottom: 120px;
}
.certificate-card {
  border-radius: 8px;
  box-shadow: 0 8px 32px 0 rgba(50, 60, 120, 0.24), 0 1.5px 7px 0 rgba(100, 110, 180, .05);
  max-width: 290px; width: 100%;
  padding: 28px 20px 18px;
  display: flex; flex-direction: column; align-items: center;
  transition: transform .18s cubic-bezier(.5,2,.38,.8), box-shadow .18s;
  border: 2px solid var(--manatee);
  position: relative;
  overflow: hidden;
  background-color: var(--white);
}
.certificate-card:hover {
  transform: translateY(-8px) scale(1.025);
  box-shadow: 0 14px 36px 0 var(--gray), 0 1.5px 7px 0 var(--glaucous);
  border-color: var(--minion-yellow);
  cursor: pointer;
}
.certificate-card .img { height: 180px; width: 100%; }
.certificate-card .img img { height: 100%; width: 100%; object-fit: cover; }
.certificate-title .name {
  color: var(--gray-dark);
  font-size: medium;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
  margin: 10px 0 0 0;
  padding: 8px 0;
}
@media (max-width: 600px) {
  .certificates-container {
    flex-direction: column;
    gap: 1.4rem;
  }
  .certificate-card { max-width: 100%; padding: 22px 12px; }
  .section.certificates { padding: 30px 0; }
  .section.certificates .section-title { font-size: 1.5rem; }
}

/* Contact & Footer */
.contact-card {
  background-color: var(--indigo);
  padding: 40px 20px;
  border-radius: var(--radius-20);
  text-align: center;
  color: var(--dark);
}
.social-links { display: flex; justify-content: center; }
.social-links a { margin: 0 10px; }
.footer {
  background-color: var(--white);
  padding-block: 40px;
}
.copyright {
  max-width: max-content;
  margin-inline: auto;
  margin-block-end: 10px;
}

/* Media Queries */
@media (min-width: 600px) {
  .portfolio-list li:nth-child(even) .card-content { margin-inline-start: 50%; }
}
@media (max-width: 768px) {
  :root {
    --fs-1: 3rem;
    --fs-2: 2rem;
    --fs-3: 1.8rem;
    --section-padding: 50px;
  }
  .container { padding: 0 20px; }
  .header { padding-block: 15px; }
  .navbar-list { flex-direction: column; gap: 15px; }
  .navbar .btn { --padding: 8px 20px; }
  .hero .container { display: block; text-align: center; }
  .hero-banner { width: 100%; height: auto; margin-inline: auto; margin-block-end: 20px; }
  .hero-title { font-size: var(--fs-1); margin-bottom: 15px; }
  .hero-title span { font-size: var(--fs-2); }
  .hero-text { font-size: var(--fs-3); margin-bottom: 20px; }
  .btn-group { flex-direction: column; gap: 10px; align-items: center; }
  .about .container { grid-template-columns: 1fr; padding: 0 20px; gap: 30px; }
  .about-banner { width: 100%; height: auto; }
  .skills-list { flex-direction: column; gap: 15px; column-gap: 0; }
  .contact-card { padding: 40px 20px; }
  .footer .container { flex-direction: column; gap: 15px; text-align: center; }
  .copyright { margin-inline: auto; }
}
@media (min-width: 992px) {
  :root {
    --fs-1: 6.4rem;
    --fs-2: 3.5rem;
    --fs-3: 3.6rem;
    --section-padding: 80px;
  }
  .container { max-width: 1050px; margin-inline: auto; }
  .nav-toggle-btn { display: none; }
  .header, .header.nav-active {
    background-color: transparent;
    box-shadow: none;
    height: unset;
    padding-block: 20px;
  }
  .header.active {
    background-color: var(--white);
    box-shadow: var(--shadow);
    padding-block: 20px;
  }
  .navbar { all: unset; }
  .navbar-list { display: flex; align-items: center; gap: 30px; }
  .navbar .btn { margin-block-start: 0; --padding: 7px 30px; }
  .hero .container {
    display: grid; grid-template-columns: 1fr 1fr; align-items: center;
  }
  .hero-content { text-align: left; }
  .btn-group { justify-content: flex-start; }
  .hero-title span { font-size: 3rem; }
  .hero-title { --fs-5: 2.2rem; margin-block-end: 25px; }
  .hero-text { margin-block-end: 25px; font-size: var(--fs-5); }
  .hero-banner { position: relative; margin-block-end: 0; order: 1; width: 340px; height: 390px; margin-inline: 0; margin-inline-start: auto; }
  .about { padding-block: 120px; }
  .about .container {
    display: grid; grid-template-columns: 0.8fr 1fr; align-items: center;
    gap: 40px;
    padding: 0 100px;
  }
  .about-banner { position: relative; margin-block-end: 0; }
  .skills-list { column-gap: 100px; }
  .contact-card { padding: 100px; }
  .footer .container { display: flex; justify-content: space-between; align-items: center; }
  .copyright { margin-inline: 0; }
}
